<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        h1 {
            text-align: left;
        }

        div {
            text-align: left;
        }
    </style>
</head>
<body style="background-color:#FFFFE0;">
<br>
<h1>JIE ZHAO</h1>
<h1>1154</h1><br><br>
<div>
    <a href="/Task1">Enter a time</a><br><br>
    <a href="/Task2">Enter a mag range and a known net value</a><br><br>
    <a href="/Task3">Add an earthquake</a><br><br>
</div>
</body>
</html>
